@font-face {
    font-family: 'ClashGrotesk';
    src: url('Font/ClashGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'ClashGrotesk';
    src: url('Font/ClashGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
}

#map {
    height: 600px;
    width: 100%;
    background-color: #ffffe0; /* Beige claro */
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'ClashGrotesk', sans-serif;
    font-weight: 700;
}

#lab-info {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    line-height: 1.5;
    font-family: 'ClashGrotesk', sans-serif;
    font-weight: 400;
}